body{
  margin:0;
  font-family: Arial;
  background: linear-gradient(135deg,#0f172a,#1e293b,#7c3aed);
  color:white;
  text-align:center;
}

.topbar{
  background:black;
  padding:10px;
  font-size:14px;
}

.brand{
  margin:20px;
  font-size:32px;
}

/* MENU */
.menu{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.menu button{
  width:80%;
  max-width:300px;
  margin:10px;
  padding:15px;
  border:none;
  border-radius:15px;
  font-size:18px;
  background:rgba(255,255,255,0.15);
  color:white;
}

/* STEPS */
.steps{
  margin:20px;
  padding:20px;
  background:rgba(0,0,0,0.3);
  border-radius:15px;
}

/* CARDS */
.card{
  background:rgba(255,255,255,0.1);
  margin:10px;
  padding:15px;
  border-radius:10px;
}

/* BUTTONS */
button{
  margin-top:10px;
  padding:8px 15px;
  border:none;
  border-radius:10px;
  background:#ff006e;
  color:white;
}

.back{
  background:gray;
  margin-top:20px;
}

/* PAYMENT */
.qr{
  width:220px;
  margin:20px;
}

input{
  padding:10px;
  width:80%;
  border:none;
  border-radius:10px;
  margin:10px;
}

.hidden{
  display:none;
}
